body {
  font-family: Arial, sans-serif;
  background: #0b132b;
  color: white;
  padding: 20px;
}

h1 {
  text-align: center;
}

.card {
  margin-bottom: 20px;
  text-align: center;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #444;
  padding: 10px;
  text-align: center;
}
